*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  background: linear-gradient(315deg, #163678, #a28675);
  background-repeat:repeat;
  background-size: cover;
}

body {
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
}

button {
  cursor: pointer;
}
